extends layout

block content
<<<<<<< HEAD
  //h1 Lobby page 
  h1 Welcome #{username}##{user_id}!
  div
    h1 Create Game:
    ul
      li
        a(href="#") Create Game
  div
    h1 Current Game(s):
    ul
      li
        a(href="/games/42") Game 42
  div
    h1 Join Game(s):
    ul
      li
        a(href="/games/1") Game 1
      li
        a(href="/games/2") Game 2
      li
        a(href="/games/3") Game 3
  div
    h1 Global Chat:
    template#message-content
      .chat-message
        span.username
        span.message
        span.timestamp
        
    #chat
      #messages
      div 
        input#message(type="text")
=======
  h1 Lobby page 

  #game-lists
    #create-game
      form(action="/games/create" method="post")
        label(for="title")
        input(type="text" name="title")
        button(type="submit") Create Game
    
    h2 Active Games
    #active-game-list
      ul
        each game in games.active
          li 
            a(href=`/games/${game.id}`)= game.title

    h2 Joinable Games
    #joinable-game-list
      ul
        each game in games.joinable
          li
            form(action=`/games/${game.id}/join` method="post")
              button(type="submit") Join #{game.title || game.id}

  template#message-content
    .chat-message
      span.username
      span.message
      span.timestamp
      
  #chat
    h2 Chat
    #messages
    div 
      input#message(type="text")
>>>>>>> jose
